@import "./assets/fonts/Manrope/font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer {
  .nav-link {
    @apply text-ash flex-1 flex justify-start items-center p-5 md:p-[unset] md:text-xs capitalize md:hover:bg-secondary md:hover:bg-[unset] md:rounded md:flex md:justify-center;
  }

  .nav-expanded {
    top: 70px !important;
  }

  .page-active {
    @apply bg-secondary md:hover:bg-secondary;
  }
  .options {
    @apply bg-primary outline-none border-none ring-0 text-ash;
  }
  .ash-text {
    @apply text-base sm:text-[11px] text-ash;
  }
  .nom-section {
    @apply px-3 py-10;
  }

  .passed {
    @apply bg-primary;
  }

  .action-btn {
    @apply bg-primary  border border-secondary p-3 sm:p-2 rounded-lg flex justify-center items-center md:hover:bg-secondary md:hover:border-primary;
  }



  
}

.hero {
  background-image: url("./assets/images/netflixbg2.jpg");
  background-size: cover;
}

.cta_bg {
  background-image: url("./assets/images/netflixbg2.jpg");
}


.featured-nav {
  grid-template-columns: 30px auto 30px;
}


/* react slick */
/* 
.image-slider-container {
  margin: 0 auto;
  width: 400px;
}

.image-slider-container .slick-prev:before,
.image-slider-container .slick-next:before {
  color: white;
} */

