@import "./assets/fonts/Manrope/font.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer {
  .nav-link {
    @apply text-ash flex-1 flex justify-start items-center p-5 md:p-[unset] md:text-xs capitalize md:hover:bg-secondary md:hover:bg-[unset] md:rounded md:flex md:justify-center;
  }

  .nav-expanded {
    top: 70px !important;
  }

  .page-active {
    @apply bg-secondary md:hover:bg-secondary;
  }
  .options {
    @apply bg-primary outline-none border-none ring-0 text-ash;
  }
  .ash-text {
    @apply text-base sm:text-[11px] text-ash;
  }
  .nom-section {
    @apply px-3 py-10;
  }

  .passed {
    @apply bg-primary;
  }

  .action-btn {
    @apply bg-primary  border border-secondary p-3 sm:p-2 rounded-lg flex justify-center items-center md:hover:bg-secondary md:hover:border-primary;
  }



  
}

.hero {
  background-image: url("./assets/images/netflixbg2.jpg");
  background-size: cover;
}

.cta_bg {
  background-image: url("./assets/images/netflixbg2.jpg");
}


.featured-nav {
  grid-template-columns: 30px auto 30px;
}


/* react slick */
/* 
.image-slider-container {
  margin: 0 auto;
  width: 400px;
}

.image-slider-container .slick-prev:before,
.image-slider-container .slick-next:before {
  color: white;
} */


.slider-nav {
  display: flex;
  justify-content:space-between !important;
  gap: 5px;
  position: relative !important;
  align-items:center;
  background-color: #1a1a1a;  /* Dark background similar to the image */
  padding: 5px;
  width:200px;
  border-radius: 6px;
}


.custom-pagination {
  position: relative !important;
  /* top: 0; */
  /* padding-top: 5px; */
  margin-top: 15px;
  /* border: 1px red solid; */
  /* display: flex; */
  /* gap: 0 !important; */
  /* flex-grow: 1; Make pagination stretch */
  width: 100px !important;
  /* left: 50% !important; */
  /* overflow: hidden !important; */
  /* justify-content:stretch !important; */
}

/* .custom-pagination  */
.swiper-pagination-bullet {
  transform: none !important;
  width: 15px;
  opacity: 0.5;
  height: 5px;
  margin: 0 1px  !important;
  background-color: #555; /* Inactive bullet color */
  border-radius: 2px;
  transition: background-color 0.3s;
}

/* .custom-pagination  */
.swiper-pagination-bullet-active {
  background-color: red; /* Active 
bullet color */
opacity: 1;

}

