/* src/assets/styles/fonts.css */
@font-face {
    font-family: 'manrope';
    src: url('./static/Manrope-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'manrope';
    src: url('./static/Manrope-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'manrope';
    src: url('./static/Manrope-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'manrope';
    src: url('./static/Manrope-ExtraLight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'manrope';
    src: url('./static/Manrope-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'manrope';
    src: url('./static/Manrope-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'manrope';
    src: url('./static/Manrope-SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  }
  /* Add more font-faces if you have different weights or styles */
  

